* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-neutral-900: #1a1a1a;
    --gradient-color: #ff7e5f;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 20px;
    color: black;
    line-height: 1.6;
    padding: 20px;
}

button {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;

}

button:hover {
    background-color: rgb(200, 0, 0);
    transform: scale(1.25);
}

button:active {
    transform: scale(1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

.card {

    background: #E5E5E5;
    border-radius: 20px;
    box-shadow:
        inset -30px -30px 50px rgba(255, 255, 255, 0.7),
        inset 30px 30px 50px rgba(13, 39, 80, 0.16);
    padding: 20px;
}

.card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}